isatools/resources/sra_schemas/SRA.analysis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- version:1.5.35 -->
<xs:schema xmlns:com="SRA.common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="SRA.common" schemaLocation="SRA.common.xsd"/>

    <xs:complexType name="AnalysisFileType">
        <xs:attribute name="filename" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The file name. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="filetype" use="required">
            <xs:annotation>
                <xs:documentation>The type of the file.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="tab"/>
                    <xs:enumeration value="bam"/>
                    <xs:enumeration value="bai"/>
                    <xs:enumeration value="cram"/>
                    <xs:enumeration value="crai"/>
                    <xs:enumeration value="vcf"/>
                    <xs:enumeration value="vcf_aggregate"/>
                    <xs:enumeration value="bcf"/>
                    <xs:enumeration value="tabix"/>
                    <xs:enumeration value="wig"/>
                    <xs:enumeration value="bed"/>
                    <xs:enumeration value="gff"/>
                    <xs:enumeration value="fasta"/>
                    <xs:enumeration value="fastq"/>
                    <xs:enumeration value="flatfile"/>
                    <xs:enumeration value="contig_fasta"/>
                    <xs:enumeration value="contig_flatfile"/>
                    <xs:enumeration value="scaffold_fasta"/>
                    <xs:enumeration value="scaffold_flatfile"/>
                    <xs:enumeration value="scaffold_agp"/>
                    <xs:enumeration value="chromosome_fasta"/>
                    <xs:enumeration value="chromosome_flatfile"/>
                    <xs:enumeration value="chromosome_agp"/>
                    <xs:enumeration value="chromosome_list"/>
                    <xs:enumeration value="unlocalised_contig_list"/>
                    <xs:enumeration value="unlocalised_scaffold_list"/>
                    <xs:enumeration value="sample_list"/>
                    <xs:enumeration value="readme_file"/>
                    <xs:enumeration value="phenotype_file"/>
                    <xs:enumeration value="BioNano_native"/>
                    <xs:enumeration value="Kallisto_native"/>
                    <xs:enumeration value="info"/>
                    <xs:enumeration value="other"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum_method" use="required">
            <xs:annotation>
                <xs:documentation>The checksum method. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MD5">
                        <xs:annotation>
                            <xs:documentation> Checksum generated by the MD5 method (md5sum in
                                unix). </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The file checksum.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="unencrypted_checksum" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>The checksum of the unencrypted file (used in conjunction with the checksum of an encrypted file).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="checklist" type="xs:string">
            <xs:annotation>
                <xs:documentation>The name of the checklist.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="AnalysisSetType">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="ANALYSIS" type="AnalysisType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ANALYSIS_SET" type="AnalysisSetType">
        <xs:annotation>
            <xs:documentation>A container of analysis objects. </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ANALYSIS" type="AnalysisType"/>
    <xs:complexType name="AnalysisType">
        <xs:annotation>
            <xs:documentation>A SRA analysis object captures sequence analysis results including sequence alignments, sequence variations and sequence annotations.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="com:ObjectType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="TITLE" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Title of the analysis object which will be displayed in
                        search results. </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Describes the analysis in detail.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="STUDY_REF" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Identifies the parent study.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType"> </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="SAMPLE_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One of more samples associated with the
                        analysis.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>A label associating the sample with sample references in data files.</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="EXPERIMENT_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType"> </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="RUN_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One or more runs associated with the
                        analysis.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>A label associating the run with run references in data files.</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ANALYSIS_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One or more runs associated with the
                        analysis.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>A label associating the analysis with analysis references in data files.</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="ANALYSIS_TYPE">
                        <xs:annotation>
                            <xs:documentation>The type of the analysis. </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:choice>
                                <xs:element name="REFERENCE_ALIGNMENT"
                                    type="com:ReferenceSequenceType">
                                    <xs:annotation>
                                        <xs:documentation/>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="SEQUENCE_VARIATION">
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="com:ReferenceSequenceType">
                                                <xs:sequence>
                                                  <xs:element name="EXPERIMENT_TYPE" minOccurs="0"
                                                  maxOccurs="unbounded">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="Whole genome sequencing"/>
                                                  <xs:enumeration value="Exome sequencing"/>
                                                  <xs:enumeration value="Genotyping by array"/>
                                                  <xs:enumeration value="transcriptomics"/>
                                                  <xs:enumeration value="Curation"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="PROGRAM"
                                                  type="xs:string"/>
                                                  <xs:element name="PLATFORM" type="xs:string"
                                                  minOccurs="0"/>
                                                  <xs:element minOccurs="0" name="IMPUTATION"
                                                  type="xs:boolean"/>
                                                </xs:sequence>
                                            </xs:extension>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="SEQUENCE_ASSEMBLY">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="NAME" type="xs:string"/>
                                            <xs:element name="PARTIAL" type="xs:boolean"> </xs:element>
                                            <xs:element name="COVERAGE" type="xs:string"/>
                                            <xs:element name="PROGRAM" type="xs:string"/>
                                            <xs:element name="PLATFORM" type="xs:string"/>
                                            <xs:element minOccurs="0" name="MIN_GAP_LENGTH"
                                                type="xs:integer"/>
                                            <xs:element minOccurs="0" name="MOL_TYPE">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="genomic DNA"/>
                                                  <xs:enumeration value="genomic RNA"/>
                                                  <xs:enumeration value="viral cRNA"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="SEQUENCE_FLATFILE"/>
                                <xs:element name="SEQUENCE_ANNOTATION">
                                    <xs:annotation>
                                        <xs:documentation/>
                                    </xs:annotation>
                                    <xs:complexType> </xs:complexType>
                                </xs:element>
                                <xs:element name="REFERENCE_SEQUENCE">
                                    <xs:complexType> </xs:complexType>
                                </xs:element>
                                <xs:element name="SAMPLE_PHENOTYPE">
                                    <xs:annotation>
                                        <xs:documentation/>
                                    </xs:annotation>
                                    <xs:complexType> </xs:complexType>
                                </xs:element>
                                <xs:element name="PROCESSED_READS" type="com:ReferenceSequenceType"> </xs:element>
                                <xs:element name="GENOME_MAP">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="PROGRAM" type="xs:string"/>
                                            <xs:element name="PLATFORM">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="BioNano"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="DESCRIPTION"
                                                type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="AMR_ANTIBIOGRAM"/>
                                <xs:element name="PATHOGEN_ANALYSIS"/>
                                <xs:element name="TRANSCRIPTOME_ASSEMBLY"/>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:sequence>
                        <xs:element name="FILES">
                            <xs:annotation>
                                <xs:documentation>Files associated with the
                                        analysis.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>

                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="FILE"
                                        type="AnalysisFileType"/>
                                </xs:sequence>

                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>

                    <xs:element maxOccurs="1" minOccurs="0" name="ANALYSIS_LINKS">
                        <xs:annotation>
                            <xs:documentation> Links to resources related to this analysis.
                    </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence minOccurs="1">
                                <xs:element name="ANALYSIS_LINK" type="com:LinkType"
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="ANALYSIS_ATTRIBUTES">
                        <xs:annotation>
                            <xs:documentation>Properties and attributes of an analysis. These can be
                        entered as free-form tag-value pairs.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence minOccurs="1">
                                <xs:element name="ANALYSIS_ATTRIBUTE" type="com:AttributeType"
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="analysis_center" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>If applicable, the center name of the institution responsible
                    for this analysis. </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="analysis_date" type="xs:dateTime" use="optional">
                    <xs:annotation>
                        <xs:documentation>The date when this analysis was produced. </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
